[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
flake8 = "*"
pytest-cov = "*"

[packages]
dj-database-url = "*"
django = "*"
django-debug-toolbar = "*"
gunicorn = "*"
psycopg2-binary = "*"
pytest-django = "*"
python-decouple = "*"
sentry-sdk = "==2.15.0"

[requires]
python_version = "3.8"
